PORT=4000
PUBLIC_BACKEND_URL=http://localhost:4000
SMALLEST_API_KEY=sk_06a894045de9b1dbbdc8417100033382
SMALLEST_AGENT_ID=69b5cb4773f6bb6984d06eb0
SMALLEST_BASE_URL=https://atoms-api.smallest.ai/api/v1

